.custom-table .ant-table-header th {
  background-color: transparent;
  color: #fff;
  font-weight: bold;
}

.custom-table .ant-table-tbody > tr > td {
  background-color: rgba(169, 199, 165, 0.8);
  color: #000;
}

.custom-table .ant-table-tbody > tr:hover > td {
  background-color: rgba(255, 255, 255, 0.9);
}
